@model WortenTrocas.Models.EntregaReembolso

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EntregaReembolso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProdutoATrocar.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoATrocar.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumoTrocaReembolso.EntregaReembolsoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumoTrocaReembolso.EntregaReembolsoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumoTrocaReembolsoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumoTrocaReembolsoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDaTrocaLojaReembolso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDaTrocaLojaReembolso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetodoPagamentoIBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetodoPagamentoIBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetodoPagamentoCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetodoPagamentoCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraDeEntregaReembolso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraDeEntregaReembolso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LojaWortenReembolso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LojaWortenReembolso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPostal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
