@model WortenTrocas.Models.EspecificacaoTLMTABLETPU

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EspecificacaoTLMTABLETPU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProdutoUtilizador.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoUtilizador.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ecra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ecra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SistemaOperativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SistemaOperativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TamanhoEcra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TamanhoEcra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VelocidadeProcessador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VelocidadeProcessador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Camara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Camara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResCamara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResCamara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanaraSecundaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanaraSecundaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResCamaraSecundaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResCamaraSecundaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoriaInterna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoriaInterna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoriaExterna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoriaExterna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bateria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bateria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bluetooth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bluetooth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WiFi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WiFi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acelerometro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acelerometro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bussola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bussola)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SensorProximidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SensorProximidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Largura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Largura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rede)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloqueadoRede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloqueadoRede)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloqueRede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloqueRede)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudioJack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudioJack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudioJackType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudioJackType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarregadorWireless)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarregadorWireless)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
