@model IEnumerable<WortenTrocas.Models.TrocaDiferente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoATrocar.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumoTrocaDiferente.TrocaDiferenteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumoTrocaDiferenteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDaTrocaLojaDiferente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraDeEntregaDiferente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LojaWortenDiferente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTrocaDiferente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoATrocar.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumoTrocaDiferente.TrocaDiferenteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumoTrocaDiferenteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDaTrocaLojaDiferente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraDeEntregaDiferente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LojaWortenDiferente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTrocaDiferente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrocaDiferenteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrocaDiferenteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrocaDiferenteID })
        </td>
    </tr>
}

</table>
